.jumbotron {
    background-color: turquoise;
    background-size: cover;
    height: 100vh;
}

.jumbo-container {
    padding-top: 25%;
}

.jumber-header {
    font-size: 85px;
}

.jumbo-para {
    font-size: 25px;
    font-weight: bold;
}